*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: YoutubeSans;
    color: white;
}
body{
    background-color: #0f0f0f;
    overflow-x: hidden;
}
@font-face {
    font-family: YoutubeSans;
    src: url(./assets/YouTube-Sans-Light.otf);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url("https://fonts.googleapis.com/icon?family=Material+Icons")