.header {
  width: 100vw;
  /* border: 1px solid red; */
  background-color: #0f0f0f;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 99999999999999999999999999999999999999;
  justify-content: right;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.boss {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  background: #0f0f0f;
  /* border: 1px solid white; */
}
.boss2 {
  height: 8%;
  width: 100%;
  gap: 1rem;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: right;
  align-items: center;
  /* padding: 0px 2rem 0px 0rem; */
}
.boss2A {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  gap: 1rem;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 10px 5px 29rem;
}
.boss2A::-webkit-scrollbar {
  display: none;
}
.m1 {
  width: 13%;
  /* border: 1px solid green; */
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.m1 img {
  width: 70%;
  z-index: 99999999999999999999999;
}

.m1 i {
  font-size: 30px;

  color: white;
}

.m2 {
  width: 43%;
  /* border: 1px solid green; */
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bar {
  width: 88%;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

.bar input {
  width: 87%;
  height: 40px;
  /* border-radius: 5px; */
  border: 1px solid white;
  background: #0f0f0f;
  border: 1px solid grey;
  border-radius: 20px 0px 0px 20px;
  outline: none;
  color: white;
  font-size: 17px;
  padding-left: 25px;
}

.bar input ::placeholder {
  color: white;
}

.bar button {
  border: 1px solid grey;
  width: 13%;
  background-color: #222222;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
}
.bar button i {
  margin: auto;
  font-size: 20px;
  color: white;
}
.mic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  background-color: #222222;
}

.mic i {
  font-size: 20px;
  margin: auto;
}

.logs {
  width: 13%;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

.logs button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 23px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.logs button i {
  margin: auto;
}
.logs button:hover {
  background-color: #222222;
}

.logs button img {
  margin: auto;
  border-radius: 50%;
  width: 100%;
}

.boss2 button {
  border: none;
  background-color: #222222;
  padding: 1rem;
  color: white;
  /* margin-left: 1rem; */
  font-size: 16px;
  border-radius: 50%;
  min-width: fit-content;
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.boss2 button:hover {
  background-color: #3f3f3f;
}

#menuButton {
  /* position: ; */
  top: 20px;
  background-color: transparent;
  right: 20px;
  border: none;
  z-index: 9999;
}

#menuButton i {
  font-size: 30px;
  color: white;
}
#menu {
  /* position: absolute; */
  top: 0;
  left: 800px;
  width: 15%;
  height: 100%;
  display: flex;
  padding-top: 1rem;
  gap: 1rem;

  flex-wrap: wrap;
  /* padding-left: 120px; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  background-color: #0f0f0f;
  overflow-y: scroll;
  transition: transform 0.3s ease-in-out;
}
#menu::-webkit-scrollbar {
  display: none;
}
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu ul li {
  padding: 10px;
}

#menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#menu.open {
  /* display: ; */
  width: 5%;
  display: block;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  transform: translateX(0px); /* Moves the menu into the viewport */
}
#menu.open .bankai {
  /* background-color: aqua; */
  display: grid;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem;
  height: fit-content;
  width: fit-content;
}

#menu.open .bankai button {
  justify-content: right;
  width: fit-content;
}
#menu.open .bankai button span {
  display: none;
}
#menu.open .bankai p {
  display: none;
}
#menu.open .bankai button {
  display: none;
}
#menu.open #Mad {
  display: flex !important;
}
#menu .bankai {
  width: 100%;
  /* background-color: rebeccapurple; */
  height: fit-content;
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.bankai button {
  width: 85%;
  align-items: center;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: left;
  background: #0f0f0f;
  border: none;
  transition-duration: 0.4s;
  border-radius: 10px;
}
.bankai button:hover {
  background: #3f3f3f;
}

.bankai button i {
  font-size: 24px;
  color: white;
}

.bankai button:hover {
  background: #3f3f3f;
}

.bankai button span {
  margin-left: 1rem;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.bankai p {
  color: white;
  width: 100%;
  text-align: left;
  font-size: 17px;
  padding-left: 25px;
}

.s {
  width: 100px !important;
  height: 37px !important;
  border-radius: 20px !important;
  /* background-color: rebeccapurple; */
  border: 1px solid grey !important;
  /* height: fit-content; */
  align-items: center;
  display: flex;
  gap: 0.4rem;
  cursor: pointer;
  transition-duration: 0.5s;
  justify-content: center !important;
  flex-wrap: wrap;
}

.s span {
  font-size: 16px;
  font-weight: bold;
  color: white;
  /* margin: auto; */
  color: #3ea6ff;
}
.s:hover {
  background-color: #263850 !important;
  border: 1px solid #3ea6ff !important;
}
.s i {
  margin: 0px !important;
}
.nn {
  position: relative;
}

.drop {
  width: 300px;
  right: 0px;
  display: none;
  height: 400px;
  /* display: flex; */
  color: grey;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #222222;
  position: absolute;
}

.nn:focus-within .drop {
  display: flex;
  /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.hr {
  /* color:; */
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 1px;
  border: 1px solid grey;
  display: flex !important;
}

.drop span,
.drop i {
  color: white;
}

.drop div {
  width: 100%;
  padding: 0px 0px 0px 20px;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  height: 10%;
  transition-duration: 0.5s;
  /* background-color: #3ea6ff; */
}
.drop div i {
  font-size: 20px;
}
.drop span {
  font-size: 15px;
}

.drop div:hover {
  background-color: #3f3f3f;
}

.body {
  width: 100vw;
  height: 90vh;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main1 {
  width: 85%;
  height: 100%;
  /* border: 1px solid blue; */
  /* background-color: #263850; */
}

#main1.open1 {
  width: 95%;
  height: 100%;
}

.boss3 {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: left; */
  height: 92%;
  /* border: 1px solid white; */
}

.boss3::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Track */
.boss3::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #333;  */
  height: 4px;
  border-radius: 10px;
}

/* Handle */
.boss3::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  transition-duration: 0.5s;
}

/* Handle on hover */
.boss3::-webkit-scrollbar-thumb:hover {
  background: #717171;
}

.vids {
  min-width: 24%;
  margin: 0.45rem;
  height: 310px;
  flex: 5 5 20rem;
  border-radius: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid white; */
}

.c {
  height: 90%;
}

.bz {
  width: 100%;
  height: 65%;
  /* background-color: red; */
  border-radius: 0.3rem;
}
.minimalv{
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

.details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 35%;
  justify-content: left;
  /* border: 1px solid green; */
}

.ax {
  width: 18%;
  justify-content: center;
  display: flex;
  padding-top: 0.5rem;
  /* background-color: #263850; */
  height: 100%;
}
.ax img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.bxx {
  width: 82%;
  padding: 0.5rem 0rem 0rem 0.2rem;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  height: 100%;
  /* background-color: red; */
}

.t1 {
  width: 85%;
  overflow: hidden;
  box-sizing: border-box;
  height: 40%;
  line-height: 1px;

  /* background-color: #717171; */
}

.t1 h5{
  font-size: 15px;
}
.t2 {
  width: 85%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  color: grey;
  /* background-color: #263850; */
}
.t2 span{
  font-size: 14px;
  width: 100%;
  color: grey;
}
.t2 p{
  font-size: 14px;
  width: 100%;
  color: grey;
}
